<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ShowMenuServlet</display-name>
    <servlet-name>ShowMenuServlet</servlet-name>
    <servlet-class>servlet.ShowMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMenuServlet</servlet-name>
    <url-pattern>/ShowMenuServlet</url-pattern>
  </servlet-mapping>
  <display-name>odersys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>Restrant.controller.HelloWorld</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderStartServlet</servlet-name>
    <servlet-class>servlet.OrderStartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderStartServlet</servlet-name>
    <url-pattern>/OrderStartServlet</url-pattern>
  </servlet-mapping>
</web-app>